@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
	font-family: 'Poppins', sans-serif;
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
}

h3 {
  color: Orange
}

img{
  max-width: 100%;
}

footer{
  text-align: center;
  margin:auto;
}